<template>
  <v-app :style="{ background: $vuetify.theme.themes.dark.background }">
    <SideBarComponent />
    <NavbarComponent />
    <v-container fluid>
      <v-app-bar dark color="#304147" flat>
        <v-tabs color="#f43f64" v-model="tab">
          <v-tabs-slider color="f43f64"></v-tabs-slider>
          <v-tab class="withoutupercase">Parasut</v-tab>
          <v-tab class="withoutupercase">Parks</v-tab>
          <v-tab class="withoutupercase">Steve</v-tab>
          <v-tab class="withoutupercase">Dennis</v-tab>
        </v-tabs>

      </v-app-bar>
      <v-card tile color="#263238" class="my-2 card_global">
        <v-row>
          <v-col cols="12" sm="8">
            <v-tabs-items v-model="tab">
              <v-tab-item>
                <v-card flat class="card_item pa-2">
                  <v-row>
                    <v-col cols="12" sm="3" v-for="(prod1, i) in product1" :key="i">
                      <v-hover v-slot="{hover}" close-delay="200">
                        <v-card :elevation="hover ? 16 : 2" :class="{'on-hover' : hover}" class="mx-auto" height="250px"
                                tile color="#304147" align="center">
                          <v-card-actions>
                            <v-spacer />
                            <v-btn tile small :color="hover ? '#f43f64' : '#777d8b'" dark>
                              {{ prod1.prix }}
                            </v-btn>
                          </v-card-actions>
                          <v-img :src="prod1.avatar" width="150" height="150" />
                          <v-card-text :class="hover ? 'white--text' : 'white--text'">
                            {{ prod1.title }}
                          </v-card-text>
                        </v-card>
                      </v-hover>
                    </v-col>
                  </v-row>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card flat class="card_item pa-2">
                  <v-row>
                    <v-col cols="12" sm="3" v-for="(prod2, i) in product2" :key="i">
                      <v-hover v-slot="{hover}" close-delay="200">
                        <v-card :elevation="hover ? 16 : 2" :class="{'on-hover' : hover}" class="mx-auto" height="250px"
                                tile color="#304147" align="center">
                          <v-card-actions>
                            <v-spacer />
                            <v-btn tile small :color="hover ? '#f43f64' : '#777d8b'" dark>
                              {{ prod2.prix }}
                            </v-btn>
                          </v-card-actions>
                          <v-img :src="prod2.avatar" width="150" height="150" />
                          <v-card-text :class="hover ? 'red--text' : 'white--text'">
                            {{ prod2.title }}
                          </v-card-text>
                        </v-card>
                      </v-hover>
                    </v-col>
                  </v-row>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card flat class="card_item pa-2">
                  <v-row>
                    <v-col cols="12" sm="3" v-for="(prod3, i) in product3" :key="i">
                      <v-hover v-slot="{hover}" close-delay="200">
                        <v-card :elevation="hover ? 16 : 2" :class="{'on-hover' : hover}" class="mx-auto" height="250px"
                                tile color="#304147" align="center">
                          <v-card-actions>
                            <v-spacer />
                            <v-btn tile small :color="hover ? '#f43f64' : '#777d8b'" dark>
                              {{ prod3.prix }}
                            </v-btn>
                          </v-card-actions>
                          <v-img :src="prod3.avatar" width="150" height="150" />
                          <v-card-text :class="hover ? 'red--text' : 'white--text'">
                            {{ prod3.title }}
                          </v-card-text>
                        </v-card>
                      </v-hover>
                    </v-col>
                  </v-row>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card flat class="card_item pa-2">
                  <v-row>
                    <v-col cols="12" sm="3" v-for="(prod4, i) in product4" :key="i">
                      <v-hover v-slot="{hover}" close-delay="200">
                        <v-card :elevation="hover ? 16 : 2" :class="{'on-hover' : hover}" class="mx-auto" height="250px"
                                tile color="#304147" align="center">
                          <v-card-actions>
                            <v-spacer />
                            <v-btn tile small :color="hover ? '#f43f64' : '#777d8b'" dark>
                              {{ prod4.prix }}
                            </v-btn>
                          </v-card-actions>
                          <v-img :src="prod4.avatar" width="150" height="150" />
                          <v-card-text :class="hover ? 'red--text' : 'white--text'">
                            {{ prod4.title }}
                          </v-card-text>
                        </v-card>
                      </v-hover>
                    </v-col>
                  </v-row>
                </v-card>
              </v-tab-item>
            </v-tabs-items>
          </v-col>
          <v-col cols="12" sm="4">
            <PaymentComponent/>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
  </v-app>
</template>

<script>

import NavbarComponent from "@/components/Navbar-component"
import SideBarComponent from "@/components/SideBar-component"
import PaymentComponent from "@/components/Payment-component"


export default {
  name: "HomeView",
  data: () => ({
    tab: null,
    product1: [
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
    ],
    product2: [
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
    ],
    product3: [
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
    ],
    product4: [
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
      {
        avatar: "https://picsum.photos/150/150",
        prix: "$50",
        title: "Lorem ipsum dolor sit.",
      },
    ],
  }),
  components: { PaymentComponent, SideBarComponent, NavbarComponent },
}
</script>

<style scoped>
.v-tabs-slider {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10px !important;
  width: 20px !important;
  /*border-radius: 150px 150px 0 0;*/
  background-color: #f34f64;
}

.v-tab.withoutupercase {
  text-transform: none !important;
}

.v-tabs {
  width: 50% !important;
}

.container {
  padding: 0 !important;
}

.v-card.card_global {
  height: 800px !important;
}

.theme--light.v-card.card_item {
  background-color: #263238 !important;
  color: #babec9 !important;
}

.v-sheet.v-card.card_item {
  border-radius: 0 !important;
}

.v-btn:not(.v-btn--round).v-size--small {
  width: 50px !important;
}
</style>
