<template>
  <v-card flat class="card_item pa-2 mt-2" elevation="2">
    <v-list subheader two-line color="transparent">
      <v-list-item>
        <v-list-item-avatar size="50px">
          <v-icon class="blue-grey darken-2" color="#fff" dark>mdi-account-outline</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="white--text">Unknown customer</v-list-item-title>
          <v-list-item-subtitle class="grey--text mt-2">Tab here add customer</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-tabs color="blue accent-2" v-model="tab1" background-color="transparent" class="order" dark grow>
      <v-tabs-slider color="#448AFF"></v-tabs-slider>
      <v-tab class="withoutupercase">Current Order</v-tab>
      <v-tab class="withoutupercase">Orders on Hold</v-tab>
    </v-tabs>
    <v-divider color="#3f49se" class="divider_tab"></v-divider>
    <v-tabs-items v-model="tab1">
      <v-tab-item>
        <v-list subheader two-line color="#263238">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="white--text subtitle-2">Casual Shoes</v-list-item-title>
              <v-list-item-subtitle class="grey--text mt-2">Shoes</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-content>
              <v-list-item-subtitle class="grey--text">1</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-list-item-title class="white--text subtitle-2">$100</v-list-item-title>
            </v-list-item-action>
          </v-list-item>
          <v-divider color="#82B1FF" class="divider_tab"></v-divider>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="white--text subtitle-2">Casual Shoes</v-list-item-title>
              <v-list-item-subtitle class="grey--text mt-2">Shoes</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-content>
              <v-list-item-subtitle class="grey--text">1</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-list-item-title class="white--text subtitle-2">$100</v-list-item-title>
            </v-list-item-action>
          </v-list-item>
          <v-divider color="#82B1FF" class="divider_tab"></v-divider>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="white--text subtitle-2">Casual Shoes</v-list-item-title>
              <v-list-item-subtitle class="grey--text mt-2">Shoes</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-content>
              <v-list-item-subtitle class="grey--text">1</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-list-item-title class="white--text subtitle-2">$100</v-list-item-title>
            </v-list-item-action>
          </v-list-item>
          <v-divider color="#82B1FF" class="divider_tab"></v-divider>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="white--text subtitle-2">Discount</v-list-item-title>
              <v-list-item-subtitle class="grey--text mt-2">Total:</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-list-item-title class="orange--text subtitle-2">-$45</v-list-item-title>
              <v-list-item-title class="light-green--text subtitle-1">$300</v-list-item-title>
            </v-list-item-action>
          </v-list-item>
          <v-divider color="#82B1FF" class="divider_tab"></v-divider>
          <div class="text-right mt-6 mb-6">
            <v-btn text color="#f38ea0" dark class="withoutupercase">Delete</v-btn>
            <v-btn text color="" dark class="withoutupercase">Checkout</v-btn>
          </div>
        </v-list>
      </v-tab-item>
      <v-tab-item>
        <v-list subheader two-line color="#263238">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="white--text subtitle-2">Casual Shoes</v-list-item-title>
              <v-list-item-subtitle class="grey--text mt-2">Shoes</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-content>
              <v-list-item-subtitle class="grey--text">1</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-list-item-title class="white--text subtitle-2">$100</v-list-item-title>
            </v-list-item-action>
          </v-list-item>
          <v-divider color="pink" class="divider_tab"></v-divider>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="white--text subtitle-2">Casual Shoes</v-list-item-title>
              <v-list-item-subtitle class="grey--text mt-2">Shoes</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-content>
              <v-list-item-subtitle class="grey--text">1</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-list-item-title class="white--text subtitle-2">$100</v-list-item-title>
            </v-list-item-action>
          </v-list-item>
          <v-divider color="pink" class="divider_tab"></v-divider>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="white--text subtitle-2">Casual Shoes</v-list-item-title>
              <v-list-item-subtitle class="grey--text mt-2">Shoes</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-content>
              <v-list-item-subtitle class="grey--text">1</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-list-item-title class="white--text subtitle-2">$100</v-list-item-title>
            </v-list-item-action>
          </v-list-item>
          <v-divider color="pink" class="divider_tab"></v-divider>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="white--text subtitle-2">Discount</v-list-item-title>
              <v-list-item-subtitle class="grey--text mt-2">Total:</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-list-item-title class="orange--text subtitle-2">-$45</v-list-item-title>
              <v-list-item-title class="light-green--text subtitle-1">$300</v-list-item-title>
            </v-list-item-action>
          </v-list-item>
          <v-divider color="pink" class="divider_tab"></v-divider>
          <div class="text-right mt-6 mb-6">
            <v-btn text color="#fff" dark class="withoutupercase">Delete</v-btn>
            <v-btn text color="" dark class="withoutupercase">Checkout</v-btn>
          </div>
        </v-list>
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
export default {
  name: "Payment-component",
  data: () => ({
    tab1: null,
  }),
  watch: {
    tab1() {
      console.log(this.tab1)
    },
  },
}
</script>

<style scoped>
.v-tabs-slider {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5px !important;
  width: 20px !important;
  /*border-radius: 150px 150px 0 0;*/
  background-color: #f34f64;
}

.v-tab.withoutupercase {
  text-transform: none !important;
}

.v-tabs {
  width: 50% !important;
}

.v-tabs.order {
  width: 100% !important;
}

.theme--light.v-card.card_item {
  background-color: #263238 !important;
  color: #babec9 !important;
}

.v-sheet.v-card.card_item {
  border-radius: 0 !important;
}

.v-divider.divider_tab {
  height: 2px !important;
  max-height: 2px !important;
}

</style>
